:root {
--dark-cyan: #3c8067;
--cream: #f2ebe3;
--very-dark-blue: #1c232b;
--dark-grayish-blue: #6c7289;
--white: #ffffff;
}

body {
  background-color: var(--cream);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
